In [1]:
import pandas as pd
import datetime
from minio import Minio

import sys
sys.path.append(r'D:\Documentos\Projetos\Ollist_End_to_End\airflow\dags')
import functions as f

In [2]:
data_lake_server= f.var['data_lake_server_local']
data_lake_login= f.var['data_lake_login']
data_lake_password= f.var['data_lake_password']

client = Minio(
        endpoint= data_lake_server,
        access_key= data_lake_login,
        secret_key= data_lake_password,
        secure=False
    )

# Importando dados

## Clientes

In [3]:
customers = pd.read_parquet(f.read_minio_file(bucket_name= 'processing', file= 'olist_customers_dataset.parquet', client= client))
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Pedidos

In [4]:
orders = pd.read_parquet(
    f.read_minio_file(bucket_name= 'processing', file= 'olist_orders_dataset.parquet', client= client)
)

orders.order_purchase_timestamp = pd.to_datetime(orders.order_purchase_timestamp)
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

## Itens de Pedidos

In [5]:
order_items = pd.read_parquet(
    f.read_minio_file(bucket_name= 'processing', file= 'olist_order_items_dataset.parquet', client= client)
)

order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

## Geolocalização

In [6]:
geo = pd.read_csv(
    f.read_minio_file(bucket_name= 'landing', file= 'olist_geolocation_dataset.csv', client= client)
)

geo.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

# Validando dados

## customers

In [7]:
customers.sample()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
59052,a0e08b8248764d911334b7997a7de1d0,b836c760452c9a9995ad085214812c9f,4727,sao paulo,SP

In [8]:
print('Há {} linhas e {} clientes únicos'.format(customers.shape[0], len(customers.customer_id.unique())))

Há 99441 linhas e 99441 clientes únicos

## orders

In [9]:
orders.sample()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
76051,eacb21138eac9fdf867afdaca6a39698,1b155d898d2a9c2fec690a22e52df81d,delivered,2018-08-13 22:37:22,2018-08-13 22:50:18,2018-08-14 12:50:00,2018-08-20 23:12:22,2018-08-24 00:00:00

In [10]:
print('Há {} pedidos'.format(orders.order_id.unique().shape[0]))

Há 99441 pedidos

In [11]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

 - Não há valores nulos nas colunas de **'customer_id'** e **'order_purchase_timestamp'**

In [12]:
print('Há {} clientes únicos na base de pedidos'.format(orders.customer_id.unique().shape[0]))

Há 99441 clientes únicos na base de pedidos

- O número é igual a quantidade de clientes na base de clientes

#### Última compra registrada

In [13]:
ult_compra = orders.order_purchase_timestamp.max()

## order_items

In [14]:
order_items.sample()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
73212,a6e9b80a7636eb8dd592dbb3e20d0a91,1,11250b0d4b709fee92441c5f34122aed,e59aa562b9f8076dd550fcddf0e73491,2018-06-07 09:31:41,465.0,25.79

In [15]:
order_items.shape

(112650, 7)

In [16]:
order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

 - Não há valores nulos

In [17]:
print('Há {} pedidos únicos na base de itens de pedido'.format(order_items.order_id.unique().shape[0]))

Há 98666 pedidos únicos na base de itens de pedido

#### Porque há menos pedidos na base de itens que na base de pedidos?

In [18]:
list_order_items = order_items.order_id.to_list()

In [19]:
orders[~orders.order_id.isin(list_order_items)].order_status.value_counts()

unavailable    603
canceled       164
created          5
invoiced         2
shipped          1
Name: order_status, dtype: int64

- Dessa forma podemos validar que os pedidos sem preço se tratam de pedidos não entregues ainda. Assim, serão descartados na análise de agrupamento de clientes

## geo

In [20]:
geo[['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']].duplicated().sum()

972251

# Agrupamento de Clientes

## Criando bases auxiliares

### Preço total de compras

In [21]:
price_per_order = order_items.groupby('order_id').price.sum().reset_index().rename(columns= {'price': 'monetary'})

orders = pd.merge(orders, price_per_order, on= 'order_id', how= 'inner')

### Data da última compra

In [22]:
orders['days_ult_compra'] = (ult_compra - orders.order_purchase_timestamp).dt.days

### Unindo customers e geolocation

In [23]:
geo_means = geo.groupby(
        ['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']
    )[['geolocation_lat', 'geolocation_lng']].mean().reset_index()

customers = customers.merge(
    geo_means,
    left_on= ['customer_zip_code_prefix', 'customer_city', 'customer_state'],
    right_on= ['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'],
    how= 'left').drop(columns= ['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state'])

del geo_means

## Dataframe RFM

In [24]:
df_rfm = \
pd.merge(
    customers[['customer_unique_id', 'customer_id', 'geolocation_lat', 'geolocation_lng']],
    orders[['customer_id', 'monetary', 'days_ult_compra']],
    on= 'customer_id',
    how= 'left')\
.groupby('customer_unique_id')\
.agg({
    'geolocation_lat': 'mean',
    'geolocation_lng': 'mean',
    'customer_id': 'count',
    'monetary': 'sum',
    'days_ult_compra': 'min'
}).reset_index()\
.rename(
    columns= {
        'customer_id': 'frequency',
        'days_ult_compra': 'recency'
    }
)

#### Validação dos valores

In [25]:
df_rfm.sample()

,customer_unique_id,geolocation_lat,geolocation_lng,frequency,monetary,recency
87296,e84e318fa505b77fd51fcc2b2a897f84,-23.526506,-46.535772,1,19.99,78.0

In [47]:
id_order = '003f4901fdb60ae9c1e2538b84c208e1'

In [48]:
customers[customers.customer_unique_id == id_order]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_lat,geolocation_lng
17627,bd15f9ff1287103a05384574f0525d58,003f4901fdb60ae9c1e2538b84c208e1,73255,brasilia,DF,NaN,NaN

In [49]:
customer_id_list = customers[customers.customer_unique_id == id_order].customer_id.to_list()
orders[orders.customer_id.isin(customer_id_list)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,monetary,days_ult_compra
40667,7ff2fc53faa0627c1754a4b00e5f65f2,bd15f9ff1287103a05384574f0525d58,delivered,2017-11-19 20:22:47,2017-11-19 20:35:21,2017-11-29 00:21:51,2017-12-06 20:18:05,2017-12-11 00:00:00,148.0,331

In [50]:
order_list = orders[orders.customer_id.isin(customer_id_list)].order_id.to_list()
order_items[order_items.order_id.isin(order_list)]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
56246,7ff2fc53faa0627c1754a4b00e5f65f2,1,b7f980dbd49d4059a8c4acbada394e4b,c826c40d7b19f62a09e2d7c5e7295ee2,2017-11-23 20:30:34,148.0,14.79

In [46]:
df_rfm[df_rfm.geolocation_lat.isnull()]

,customer_unique_id,geolocation_lat,geolocation_lng,frequency,monetary,recency
101,003f4901fdb60ae9c1e2538b84c208e1,NaN,NaN,1,148.00,331.0
168,006b297ed73773b17d8874a2eb4466e8,NaN,NaN,1,89.90,191.0
249,00a39521eb40f7012db50455bf083460,NaN,NaN,2,81.45,136.0
439,0124721bc33e0aa6772b42d4ccfd01db,NaN,NaN,1,84.99,490.0
548,016e68615e12298a0a004a44d3b78579,NaN,NaN,1,49.90,132.0
...,...,...,...,...,...,...
93747,f9a19bbde55fdbb899189f8c71272570,NaN,NaN,1,13.70,286.0
94141,fac8b5e914037fc2e2476783585f0769,NaN,NaN,1,53.99,375.0
94192,fae89dc82c335fb681c6e5a0cd8c9f0d,NaN,NaN,1,289.00,358.0
94317,fb3d2759405ec9a4a3e8eb61653a0bec,NaN,NaN,1,159.90,305.0
94482,fbb25ad1452fbf7e073a084f8c2cbda6,NaN,NaN,1,19.90,242.0